In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../data/2024-12-3-all-yc-companies.csv')
df.head()

,company_id,company_name,short_description,long_description,batch,status,tags,location,country,year_founded,num_founders,founders_names,team_size,website,cb_url,linkedin_url
0,29981,Kairo Health,The AI healthcare workforce,Kairo Health builds AI agents that help delive...,S24,Active,"['digital-health', 'healthcare-it', 'ai']",New York,US,2024.0,2,"['Jake Goldman', 'Ajay Vasisht']",2.0,https://trykairo.com/,NaN,NaN
1,29989,Melty,Melty is the first chat-based code editor,Melty is the first chat-based code editor. It ...,S24,Active,"['developer-tools', 'generative-ai', 'ai']",San Francisco,US,2024.0,2,"['Charlie Holtz', 'Jackson de Campos']",2.0,https://melty.sh,NaN,https://www.linkedin.com/company/meltylabs
2,29982,Standard Data,Augmented Reality Training and Copilot for Man...,Standard Data builds augmented reality trainin...,S24,Active,"['education', 'recruiting', 'manufacturing']",San Francisco,US,2024.0,2,"['John Robison', 'Shaashwat Sharma']",2.0,https://www.standarddata.com/,NaN,https://www.linkedin.com/company/standard-data...
3,29983,PathPilot,The AI Customer Experience Agent,PathPilot makes it easy to understand what you...,S24,Active,[],NaN,NaN,2024.0,2,"['Vladimir Korshin', 'Victor Laguna']",3.0,https://www.getpathpilot.com/,NaN,https://www.linkedin.com/company/getpathpilot
4,29990,DreamRP,Bring your characters to life,DreamRP lets users chat with character chatbot...,S24,Active,"['artificial-intelligence', 'generative-ai', '...",San Francisco,US,2024.0,2,"['Phillip Huang', 'Nina Hu']",2.0,https://www.dreamrp.com/,NaN,https://www.linkedin.com/company/dreamrp

In [3]:
print(f"Number of fall companies {len(df[df["batch"] == "F24"])}")

Number of fall companies 95

In [4]:
batch_order = {
    'W25': 0,    # Winter 2025
    'F24': 1,    # Fall 2024
    'S24': 2,    # Summer 2024
    'W24': 3,    # Winter 2024
    'S23': 4,    # Summer 2023
    'W23': 5,    # Winter 2023
    'S22': 6,    # Summer 2022
    'W22': 7,    # Winter 2022
    'S21': 8,    # Summer 2021
    'W21': 9,    # Winter 2021
    'S20': 10,   # Summer 2020
    'W20': 11,   # Winter 2020
    'S19': 12,   # Summer 2019
    'W19': 13,   # Winter 2019
    'S18': 14,   # Summer 2018
    'W18': 15,   # Winter 2018
    'S17': 16,   # Summer 2017
    'W17': 17,   # Winter 2017
    'IK12': 18,  # IK12
    'S16': 19,   # Summer 2016
    'W16': 20,   # Winter 2016
    'S15': 21,   # Summer 2015
    'W15': 22,   # Winter 2015
    'S14': 23,   # Summer 2014
    'W14': 24,   # Winter 2014
    'S13': 25,   # Summer 2013
    'W13': 26,   # Winter 2013
    'S12': 27,   # Summer 2012
    'W12': 28,   # Winter 2012
    'S11': 29,   # Summer 2011
    'W11': 30,   # Winter 2011
    'S10': 31,   # Summer 2010
    'W10': 32,   # Winter 2010
    'S09': 33,   # Summer 2009
    'W09': 34,   # Winter 2009
    'S08': 35,   # Summer 2008
    'W08': 36,   # Winter 2008
    'S07': 37,   # Summer 2007
    'W07': 38,   # Winter 2007
    'S06': 39,   # Summer 2006
    'W06': 40,   # Winter 2006
    'S05': 41    # Summer 2005
}

In [6]:
# Sort the DataFrame
sorted_df = df.sort_values(
    by='batch',
    key=lambda x: x.map(batch_order),
    ascending=True
).reset_index(drop=True)

# Verify the order
print("Batch distribution after sorting:")
print(sorted_df['batch'].value_counts())

Batch distribution after sorting:
batch
W22     401
S21     392
W21     337
W23     278
S24     257
W24     251
S22     236
W20     228
S23     221
S20     208
W19     195
S19     175
W18     147
S18     131
S17     125
W16     122
W17     116
W15     111
S15     105
S16     103
F24      95
S12      82
S14      80
IK12     77
W14      74
W12      66
S11      60
S13      52
W13      46
W11      45
S10      36
W10      27
S09      26
S08      22
W08      21
S07      19
W09      16
W07      13
S06      11
S05       8
W06       7
W25       2
Name: count, dtype: int64

In [7]:
sorted_df.head()

,company_id,company_name,short_description,long_description,batch,status,tags,location,country,year_founded,num_founders,founders_names,team_size,website,cb_url,linkedin_url
0,30204,Subtrace,Chrome DevTools for your backend,We make it easy to watch everything happening ...,W25,Active,"['developer-tools', 'infrastructure']",NaN,NaN,2024.0,2,"['Adhityaa Chandrasekar', 'Sachin Sridhar']",2.0,https://subtrace.dev,NaN,https://www.linkedin.com/company/subtrace
1,30208,Hyphen,Medical Data Annotation Software,Hyphen enables Medical AI research teams and d...,W25,Active,"['aiops', 'machine-learning', 'crowdsourcing',...",San Francisco,US,2024.0,2,"['Vishruth N', 'Nikhil Tiwari']",2.0,https://www.hyphenlabs.tech,NaN,NaN
2,30114,Ryvn,"Deploy, update, and monitor applications in cu...",Ryvn manages the infrastructure for your appli...,F24,Active,"['aiops', 'developer-tools', 'saas', 'devops',...",San Francisco,US,2024.0,2,"['Albert Lam', 'Shardool Patel']",2.0,https://ryvn.ai,NaN,https://www.linkedin.com/company/ryvn/
3,30099,Gander,"LLMs For Aviation, Starting with Customer Service",Gander is bringing LLMs to the airline industr...,F24,Active,"['artificial-intelligence', 'saas', 'customer-...",New York,US,2024.0,2,"['Arjan Guglani', 'Andrew Dixon']",3.0,https://usegander.com,NaN,https://www.linkedin.com/company/usegander
4,30097,Innate,Teachable general-purpose robots,Innate is developing teachable home robots.\r\...,F24,Active,"['generative-ai', 'hard-tech', 'robotics', 'co...",Palo Alto,US,2024.0,2,"['Axel Peytavin', 'Vignesh Anand']",2.0,https://innate.bot,NaN,https://www.linkedin.com/company/innate-bot

In [8]:
sorted_df.to_csv('2024-12-3-all-yc-companies-sorted.csv')

In [9]:
import_df = pd.read_csv('../../data/2024-12-3-all-yc-companies-sorted.csv')
import_df.head()

,Unnamed: 0,company_id,company_name,short_description,long_description,batch,status,tags,location,country,year_founded,num_founders,founders_names,team_size,website,cb_url,linkedin_url
0,0,30204,Subtrace,Chrome DevTools for your backend,We make it easy to watch everything happening ...,W25,Active,"['developer-tools', 'infrastructure']",NaN,NaN,2024.0,2,"['Adhityaa Chandrasekar', 'Sachin Sridhar']",2.0,https://subtrace.dev,NaN,https://www.linkedin.com/company/subtrace
1,1,30208,Hyphen,Medical Data Annotation Software,Hyphen enables Medical AI research teams and d...,W25,Active,"['aiops', 'machine-learning', 'crowdsourcing',...",San Francisco,US,2024.0,2,"['Vishruth N', 'Nikhil Tiwari']",2.0,https://www.hyphenlabs.tech,NaN,NaN
2,2,30114,Ryvn,"Deploy, update, and monitor applications in cu...",Ryvn manages the infrastructure for your appli...,F24,Active,"['aiops', 'developer-tools', 'saas', 'devops',...",San Francisco,US,2024.0,2,"['Albert Lam', 'Shardool Patel']",2.0,https://ryvn.ai,NaN,https://www.linkedin.com/company/ryvn/
3,3,30099,Gander,"LLMs For Aviation, Starting with Customer Service",Gander is bringing LLMs to the airline industr...,F24,Active,"['artificial-intelligence', 'saas', 'customer-...",New York,US,2024.0,2,"['Arjan Guglani', 'Andrew Dixon']",3.0,https://usegander.com,NaN,https://www.linkedin.com/company/usegander
4,4,30097,Innate,Teachable general-purpose robots,Innate is developing teachable home robots.\r\...,F24,Active,"['generative-ai', 'hard-tech', 'robotics', 'co...",Palo Alto,US,2024.0,2,"['Axel Peytavin', 'Vignesh Anand']",2.0,https://innate.bot,NaN,https://www.linkedin.com/company/innate-bot